<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Validation.ValidateRichTextFieldOnSave" value="true"/>
    </settings>
    <pipelines>
      <registerValidators>
        <processor type="Sitecore.Pipelines.RegisterValidators.RegisterValidator, Sitecore.Kernel">
          <ValidatorTypes hint="list:AddValidator">
            <ValidatorType
              Assembly="SitecoreValidation"
              Type="SitecoreValidation.Validators.RTEIframeValidationRule, SitecoreValidation"
              ValidatorName="RTEIframeValidationRule"
              FieldType="Rich Text"              
              Parameters=""
              Description="Disallow iframe in Rich Text Editor."
              Tags="content"
              />
          </ValidatorTypes>
        </processor>
      </registerValidators>
    </pipelines>
  </sitecore>
</configuration>