<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <saveUI>
        <processor patch:before="*[@type='Sitecore.Shell.Framework.Pipelines.Save.Save, Sitecore.Kernel']"
                   type="SitecoreValidation.Pipelines.Save.StripIframeTagsInRTE, SitecoreValidation" />
      </saveUI>
    </processors>
  </sitecore>
</configuration>